@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/styleLogin.css" />

<div class="login-wrapper">
    <div class="flex-container">
        <div class="logo-wrapper">
            <img src="~/images/Logo Armoniza.png" alt="Logo" class="login-logo" />
        </div>

        <div class="login-container">
            <h2>Iniciar Sesión</h2>

            <form asp-action="Login" method="post" autocomplete="off">
                <div class="input-group">
                    <input type="text" name="username" required />
                    <label>Usuario</label>
                </div>

                <div class="input-group">
                    <input type="password" name="password" id="password" required />
                    <label>Contraseña</label>
                </div>

                <div class="show-password">
                    <input type="checkbox" id="togglePassword" />
                    <label for="togglePassword">Mostrar contraseña</label>
                </div>

                <button type="submit" class="pulse-on-load">Entrar</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const toggle = document.getElementById('togglePassword');
        const password = document.getElementById('password');

        toggle.addEventListener('change', () => {
            password.type = toggle.checked ? 'text' : 'password';
        });
    </script>
}
