
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Login";
   
    
}
<html>

    <head>
        <link href="~/css/styleLogin.css" rel="stylesheet" />
        
    </head>
    

<body>

   
    <img src="/images/Logo Armoniza.png" />

    <h2>Iniciar Sesión</h2>


    <form method="post">
        <label>Usuario:</label>
        <input class="username" type="text" name="username" required placeholder="Usuario" maxlength="30" minlength="3" />
        <br />
        <label>Contraseña:</label>
        <input class="password" type="password" name="password" required placeholder="Contraseña" maxlength="30" min="4" />
        <br />
        <button type="submit">Ingresar</button>
    </form>

</body>

</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
