body,html{

    height: 100%;
    background-color: #3744a6;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*Esto lo que hace es hacer que la imagen del cami贸n se ponga a la misma coordenada del eje x que la estructura de bloque del form*/
.contenedor{

width: 620px;
height: 690px;
display: flex;
justify-content: center;
align-items: center;

}

/*Este es el color de fondo del formulario*/
.colorfondo-formulario{

width: 75%;
height: 80%;
background-color:#2c3a94;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
padding: 20px 0 0 20px;


}

/*  */
/*Imagen logo del itson dentro del login*/
.login-imagen-itson {

    width: 80%;
    height: 28%;
    margin-left: 14%;
    
}

/*Este es el formulario*/
.formulario {

    width: 18%;
    height: 45%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    background-color:#fffefe;
    border-radius: 10px;
    padding: 30px;
    position: absolute; /*Sirve para que el formulario y la imagen del cami贸n no se muevan*/
    
    
}

.Imagen-Camion{

    position: absolute; /*Sirve para que la imagen del cami贸n y el formulario se queden a la misma altura*/
    width: 340px;
    height: 480px;
    margin-top: 15px;
    margin-left: 55%;
    border-radius: 20px;
    margin-top: 110px;
}


/*Esta es una modificaci贸n general de los inputs*/
.input-form{

height: 7%;
border: 2px solid black;

}

/*parrafo que dice usuario*/
p {
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 900px;
    letter-spacing:2px;
    
}

.username{
font-size: 20px;
background-color: #9ca1c7;
width: 100%;
border-radius: 15px;
margin-top: 8px;
padding: 5px;



}

.password{
font-family: 'Courier New', Courier, monospace;
font-size: 20px;
background-color: #9ca1c7;
width: 100%;
margin-top: 3px;
border-radius: 15px;
padding: 5px;

}

.submit{    
background-color: #9ca1c7;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 500;
font-size: 16px;
border-radius: 8px;
margin: auto;
padding: 20px;
display: flex;
text-align: center;
justify-content: center;
border: 1px solid black;


}

.submit:hover{

cursor: pointer;
background-color: #8f97d4;
font-weight: 800px;


}

.login-imagen-itson{

width: 70%;
height: 50%;
border-radius: 50%;

}
