*{ 
/*Este es un selector universal aplicará todas la reglas de estilo a todos los elementos de la pagina web*/

margin: 0;
padding: 0;
box-sizing: border-box;

}

body{

font-family: Montserrat;
background-color: #eaebef;

}

.nav{

width: 300px;

}

.nav__link{

color: #303440;
display: block;
padding: 15px 0;
text-decoration: none;

}

.nav__link--inside{

border-radius: 6px; 
padding-left: 20px; 

}

.nav__link--inside:hover{

background-color: #f6f8fa;

}

.list{

width: 100%; /*-> esto quiere decir que va a ocupar el 100% de su padre .nav*/

height: 100vh; /*vh significa Viweport height altura de la ventana de visualización y el 100vh representa el 100% de la altura de la ventana del 
navegador*/

display: flex; /*Distribuye el espacio entre los elementos hijos de forma controlada*/

justify-content: center; /*Se usa dentro del contenedor flex para alinear horizontalmente los elementos hijos en el centro del contenedor*/

flex-direction: column; /*Los elementos se colocan uno debajo del otro en una columna*/

border-radius: 0 16px ;

background-color: #fff;
}

.list__item{

list-style: none;
width: 100%;
text-align: center;
overflow: hidden;

}

.list__item--click{

    cursor: pointer;

}

.list__button{

    display: flex;
    align-items: center; /*alinea los elementos hijos verticalmente en el centro*/
    gap: 1em; /*define el espacio entre elementos dentro de un contenedor flexible*/
    width: 70%;
    margin: auto;

}

.arrow .list__arrow{

transform:rotate(90deg);

}

.list__arrow{

margin-left: auto ;
transition: transform 0.3s;

}

.list__show{

width: 80%;
margin-left: auto;
border-left: 2px solid #303440;
list-style: none;
transition: height 0.4s;
height: 0;

}